/* teacher_list.css */
.popup_wrap{
    position: fixed; width: 100vW; height: 100vh; left: 0; top: 0;
    background-color: rgba(0,0,0,0.5); display: none;
}
.popup_wrap.open{display: block;}
.popup{
    position: absolute;
    left: 50%; top: 50%;
    background-color: #fff; z-index: 99999;
    margin-left: -250px; margin-top: -250px;
    padding: 45px 0; width: 500px; border-radius:5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.popup .top_area{
    text-align: center; padding-bottom: 40px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.popup .ico{
    width: 80px; height: 80px; text-align: center;
    background-color: #666; color: #fff; 
    font-size: 36px; line-height: 70px;
    border-radius: 999px; display: inline-block;
} 
.popup .top_area h2{
    margin-top: 20px; font-size: 24px;
}
.popup .top_area p{
    margin-top: 10px; color: #555;
}
.popup .content_area{
    padding: 40px 0; width: 350px; margin: 0 auto; font-size: 0;
}